/* video.cssの記述 */

/* プライムビデオ */
.video-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-hero video{
    width: min(80%,500px);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
#page-video p{
    text-align: center;
    margin-top: 12px;
    color: #555;
}